<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>TyGAMES is a newly created indie game publisher with an innovant cooperative organization.</p>
        <p>We all remain independants but we're stronger together!</p>
        <p>We'll be handling the distribution, reporting and financial aspects for our members using a brand new tool.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1">
        <div class="nogueules">
          <a href="https://dmayance.com">
            <img src="https://www.gravatar.com/avatar/545f7c7f0ed11d6ef21722a7e6c47acf?s=300" title="Damien Mayance" alt="Damien Mayance">
          </a>
        </div>
        <p><strong>Damien MAYANCE</strong></p>
      </div>
      <div class="col-lg-3">
        <div class="nogueules">
          <a href="https://fr.linkedin.com/in/vincent-beauzee">
            <img src="img/vincent.jpg" title="Vincent BEAUZEE" alt="Vincent BEAUZEE">
          </a>
        </div>
        <p><strong>Vincent BEAUZEE</strong></p>
      </div>
      <div class="col-lg-3">
        <div class="nogueules">
          <a href="https://tavroxgames.com/about-the-team/">
            <img src="img/yannick.png" title="Yannick ELAHEE" alt="Yannick ELAHEE">
          </a>
        </div>
        <p><strong>Yannick ELAHEE</strong></p>
      </div>
      <div class="col-lg-3">
        <div class="nogueules">
          <a href="https://monkeymoon.net/">
            <img src="img/laurent.jpg" title="Laurent VICTORINO" alt="Laurent VICTORINO">
          </a>
        </div>
        <p><strong>Laurent VICTORINO</strong></p>
      </div>
    </div>
  </div>
</section>
