<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>TyGAMES is a new indie game creator and publisher, with an innovant cooperative organization.</p>
        <p>It was created in 2022 by Damien and Vincent, senior software engineers and gamedev veterans.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <div class="nogueules">
          <a href="https://dmayance.com">
            <img src="https://www.gravatar.com/avatar/545f7c7f0ed11d6ef21722a7e6c47acf?s=300" title="Damien Mayance" alt="Damien Mayance">
          </a>
        </div>
        <p><strong>Damien MAYANCE</strong></p>
      </div>
      <div class="col-lg-4 text-center">
        <div class="nogueules">
          <a href="https://fr.linkedin.com/in/vincent-beauzee">
            <img src="img/vincent.jpg" title="Vincent BEAUZEE" alt="Vincent BEAUZEE">
          </a>
        </div>
        <p><strong>Vincent BEAUZEE</strong></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="#" class="btn btn-lg btn-outline">
          Steam
        </a>
        <a href="#" class="btn btn-lg btn-outline">
          App Store
        </a>
        <a href="#" class="btn btn-lg btn-outline">
          Play Store
        </a>
      </div>
    </div>
  </div>
</section>
